.list-actions {
  display: flex;
  gap: 50px;
}

.list-actions button {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.list-actions button:hover {
  color: var(--accent-color);
}

.undo-btn.hiden {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.undo-btn {
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: all;
}

.tier-operation {
  display: none;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
}

.tier-operation button {
  background: none;
  border: none;
  cursor: pointer;
}

.tier-operation-expand-btn {
  min-width: 30px;
}

.tier-operation button:hover {
  background: #333;
}

.tier-operation.visible {
  display: flex;
}

.delete-row-btn {
  width: 100%;
  flex: 1;
  padding: 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(255, 0, 0, 0.707);
}

.add-row-btn {
  width: 100%;
  padding: 10px;
  border: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.add-row-btn:hover {
  opacity: 1;
}

.rank-edit-btn {
  display: none;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
}

.rank-edit-btn.visible {
  display: block;
}