*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --min-row-height: 50px;
  --min-column-width: 50px;
}

body
{
    background-color: white;
    color: black;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
}

.main {
  padding: 5px;
}

/* .tier-list {
  display: flex;
  flex-direction: column;
} */

.tier-row {
  display: flex;
  align-items: stretch;
  margin-bottom: 5px;
  overflow: hidden;
}

.rank {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--min-row-height);
  min-width: var(--min-column-width);
  border: 1px solid #000000;
  border-right: 0;
}

.dropBox {
  flex: 2;
  min-height: var(--min-row-height);
  border: 1px solid #000000;
  display: flex;
  flex-wrap: wrap;
}