:root {
  --primary-color: #222831;
  --secondary-color: #31363F;
  --accent-color: #375657;
  --text-color: #EEEEEE;
  --tier-row-height: 120px;
  --tier-rank-width: 120px;
  --tier-rank-min-width: 70px;
  --image-max-height: 120px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
  scroll-behavior: smooth;
  background-color: var(--primary-color);
  color: var(--text-color);
}

body.body-noscroll {
  overflow: hidden;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--text-color);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.ghosted {
  opacity: 0.5;
  pointer-events: none;
}

.header {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 20px 50px;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin: 15px 25px;
  border-radius: 5px;
}

.back-btn {
  background: none;
  border: none;
  color: var(--text-color);
}

.back-btn:hover {
  color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 50px
}

.list-header {
  display: flex;
  justify-content: flex-end;
}

.tier-list {
  border: 2px solid #000000;
  background-color: var(--secondary-color);
}

.tier-row {
  display: flex;
  align-items: stretch;
  border-bottom: 2px solid #000000;
  min-height: var(--tier-row-height);
}

.tier-list .tier-row:last-child {
  border-bottom: none;
}

.tier-rank {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--tier-rank-min-width);
  max-width: var(--tier-rank-width);
  padding: 8px;
  flex-shrink: 0;
  word-break: break-word;
  white-space: normal;
  color: black;
  font-size: 18px;
  position: relative;
  border-right: #000000 2px solid;
  text-align: center;
}

.tier-drop-box {
  flex: 4;
  display: flex;
  overflow: visible;
  flex-wrap: wrap;
  min-height: inherit;
}

.backup-images {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.draggable {
  cursor: pointer;
  display: flex;
  max-height: var(--image-max-height);
  max-width: auto;    
}

.draggable img {
  width: 100%;
  height: 100%;
  max-height: inherit;
}

/* Responsive styles */
@media (max-width: 767px) {
  /* mobile styles */
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* tablet styles */
}

@media (min-width: 1025px) {
  /* desktop styles */
}
